# Traefik Version
VERSION_T=latest

# Infrastructure Scaling & Naming
# Change PROJECT_NAME to isolate instances (vertical scaling/multiple routers) 
# or keep default ('traefik') for a shared global edge router (horizontal scaling).
PROJECT_NAME=traefik

# Host Ports Mapping
FORWARD_PORT_HTTP=80
FORWARD_PORT_HTTPS=443

# SSL / Let's Encrypt ACME Configuration
RESOLVER_NAME=myresolver
ACME_EMAIL=admin@localhost.local